In [1]:
a = 10

In [2]:
var = True

In [3]:
type(var)

bool

In [4]:
var2 = False

In [5]:
var3 = None

In [6]:
type(var2)

bool

In [7]:
type(var3)

NoneType

In [10]:
a  =4

In [11]:
a

4

In [13]:
if a==10:
    print('Perfect')
elif a ==20:
    print('Close')
else:
    print('No idea')

No idea

In [18]:
location = input('Enter your area: ')

Enter your area: Hinjewadi

In [19]:
if location == 'Hinjewadi':
    print('Office')
elif location =='Aundh':
    print('Institute')
else:
    print('No idea')

Office

In [20]:
l = [1,2,3,4,5]

In [21]:
for each_element in l:
    print(each_element)

1
2
3
4
5

In [22]:
mylist = [1,2,'hello', [1,2]]

In [23]:
for i in mylist:
    print(i)

1
2
hello
[1, 2]

In [24]:
s = 'Hello world'

In [25]:
for i in s:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [26]:
t = (1,2,3,4,5)

In [27]:
type(t)

tuple

In [28]:
for i in t:
    print(i)

1
2
3
4
5

In [29]:
d = {'k1':100, 'k2':200}

In [38]:
for i in d:
    print(i)

k1
k2

In [32]:
for i in d.values():
    print(i)

100
200

In [39]:
l = [(1,2)  , (3,4)  , (5,6)  ]

In [40]:
for i in l:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [48]:
for a,b in l:
    print(a)
    print(b)

1
2
3
4
5
6

In [49]:
l  =[1,2,3,4,5]

In [51]:
sum_list = 0

for i in l:
    sum_list = sum_list+ i
print(sum_list)

15

In [52]:
sum_list = 0
for i in l:
    if i%2 == 0:
        sum_list += i

In [53]:
sum_list

6

In [54]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
mylist = []
for i  in range(1,21):
    mylist.append(i)

In [56]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [57]:
mylist2 = []
for i in range(1,21):
    if i%2 == 0:
        mylist2.append(i)

In [58]:
mylist2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [59]:
mylist3 = []
for i in range(1,21):
    if i%2 == 0:
        mylist3.append(i*i)

In [60]:
mylist3

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [61]:
mylist = [ i for i in range(1,21)]

In [63]:
mylist2 = [i for i in range(1,21) if i%2==0]

In [65]:
mylist3 = [i*i for i in range(1,21) if i%2 == 0]

In [82]:
name = 'John'
score = 100

In [83]:
print('My name is %s and my score is %d'%(name, score))

My name is John and my score is 100

In [86]:
print('My name is {} and my score is {}'.format(name, score))

My name is John and my score is 100

In [87]:
name = 'Raghav'
sname = 'Shreeya'

In [90]:
print("My name is {1} and my sister's name is {0}".format(name, sname))

My name is Shreeya and my sister's name is Raghav

In [95]:
p = 'penny'

In [92]:
print('A %s saved is a %s earned'%(p,p))

A penny saved is a penny earned

In [96]:
print('A {p} saved is a {p} earned'.format(p = 'penny'))

A penny saved is a penny earned

In [98]:
location = 'Pune'
temp = 28

In [100]:
print(f'I live in {location} and temperature here is {temp}')

I live in Pune and temperature here is 28

In [103]:
l = [0]  *20

In [104]:
l

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [105]:
s = 'Count the number of words in the sentence'

In [106]:
len(s)

41

In [107]:
a  =10

In [109]:
a = str(a)

In [110]:
a

'10'

In [111]:
a = int(a)

In [112]:
a

10

In [113]:
l = list(s)

In [114]:
l

['C',
 'o',
 'u',
 'n',
 't',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 ' ',
 'o',
 'f',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e']

In [115]:
newlist = s.split()

In [116]:
newlist

['Count', 'the', 'number', 'of', 'words', 'in', 'the', 'sentence']

In [117]:
len(newlist)

8